<header class="header" data-header>
        <div class="container">
                <a href="/home" class="logo">
                        <img src="<%=images[0]%>" width="160" height="50" alt="Reservia - Home">
                </a>
                <nav class="navbar" data-navbar>
                        <button class="close-btn" aria-label="close menu" data-nav-toggler>
                                <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                        </button>
                        <ul class="navbar-list">

                                <li class="navbar-item">
                                        <a href="/login" class="navbar-link hover-underline">Login</a>
                                </li>

                                <li class="navbar-item">
                                        <a href="/explore" class="navbar-link hover-underline">Explore</a>
                                </li>
                                
                                <li class="navbar-item">
                                        <a href="/reservation" class="navbar-link hover-underline">Reservations</a>
                                </li>
                                
                                <li class="navbar-item">
                                        <a href="/contact" class="navbar-link hover-underline">Contact Us</a>
                                </li>
                                
                                <li class="navbar-item">
                                        <a href="/about" class="navbar-link hover-underline">About Us</a>
                                </li>
                                
                                <li class="navbar-item">
                                        <a href="/order" class="navbar-link hover-underline">Orders</a>
                                </li>
                                
                                <li class="navbar-item">
                                        <a href="/tracking" class="navbar-link hover-underline">Order Tracking</a>
                                </li>
                                
                                <li class="navbar-item">
                                        <a href="/feedback" class="navbar-link hover-underline">Feedback</a>
                                </li>
                                
                                <li class="navbar-item">
                                        <a href="/reviews" class="navbar-link hover-underline">Reviews</a>
                                </li>
                        </ul>
                </nav>
                 <a href="/reservation" class="btn btn-secondary">Book a Table</a>
                <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                        <span class="line line-1"></span>
                        <span class="line line-2"></span>
                        <span class="line line-3"></span>
                </button>
                <div class="overlay" data-nav-toggler data-overlay></div>
        </div>
</header>