<!DOCTYPE html>
    <html lang = "en">
        <head>
            <meta charset = "UTF-8">
            <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
            <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

            <title> Reservia | Contact Us </title>

            <link rel = "icon" href = "<%=images[0]%>">
            <!-- <link rel="stylesheet" href="css/styles.css"> -->
            <link rel="stylesheet" href="/css/contact.css">
            
            <link rel = "preconnect" href = "https://fonts.googleapis.com">
            <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
            <link href = "https://fonts.googleapis.com/css2?family = Paytone+One&family = Poppins:wght@100;200;300;400;500;600;700;800;900&display = swap" rel = "stylesheet">
            <link rel="icon" href="https://img.icons8.com/ios-filled/50/phone-disconnected.png">
            <link rel = "stylesheet" href = "https://unpkg.com/boxicons@latest/css/boxicons.min.css">
            <link href = "https://fonts.googleapis.com/css2?family = Libre+Baskerville:wght@700&family = Raleway:wght@400;500&display = swap" rel = "stylesheet">
        </head>
        <script type = "text/javascript"
            src = "https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
        </script>

        <script type = "text/javascript">
            (function(){
            emailjs.init("HVsFFnz7321Ldhl34");
            })();
        </script>

        <body>
            <!-- <header class = "header" data-header>
                <div class = "container">

                    <a href = "#" class = "logo">
                        <img src = "images/HomePageImages/logo.png" width = "160" height = "50" alt = "Reservia - Home">
                    </a>

                    <nav class = "navbar" data-navbar>

                        <button class = "close-btn" aria-label = "close menu" data-nav-toggler>
                            <ion-icon name = "close-outline" aria-hidden = "true"></ion-icon>
                        </button>

                        <a href = "#" class = "logo">
                            <img src = "images/HomePageImages/logo.png" width = "160" height = "50" alt = "Reservia - Home">
                        </a>

                        <ul class = "navbar-list">
                            <li class = "navbar-item">
                                <a href = "/login.html" class = "navbar-link hover-underline ">
                                <div class = "separator"></div>
                                <span class = "span"> Login </span>
                                </a>
                            </li>

                            <li class = "navbar-item">
                                <a href = "/explore.html" class = "navbar-link hover-underline ">
                                <div class = "separator"></div>
                                <span class = "span"> Explore </span>
                                </a>
                            </li>

                            <li class = "navbar-item">
                                <a href = "/res.html" class = "navbar-link hover-underline ">
                                <div class = "separator"></div>
                                <span class = "span"> Reservations </span>
                                </a>
                            </li>

                            <li class = "navbar-item">
                                <a href = "/contact.html" class = "navbar-link hover-underline ">
                                <div class = "separator"></div>
                                <span class = "span"> Contact Us </span>
                                </a>
                            </li>

                            <li class = "navbar-item">
                                <a href = "/AboutUs.html" class = "navbar-link hover-underline ">
                                <div class = "separator"></div>
                                <span class = "span"> About Us </span>
                                </a>
                            </li>

                            <li class = "navbar-item">
                                <a href = "/order.html" class = "navbar-link hover-underline">
                                <div class = "separator"></div>
                                <span class = "span"> Orders </span>
                                </a>
                            </li>

                            <li class = "navbar-item">
                                <a href = "/Tracking.html" class = "navbar-link hover-underline">
                                <div class = "separator"></div>
                                <span class = "span"> Order Tracking </span>
                                </a>
                            </li>

                            <li class = "navbar-item">
                                <a href = "/feedback.html" class = "navbar-link hover-underline">
                                <div class = "separator"></div>
                                <span class = "span"> Feedback </span>
                                </a>
                            </li>

                            <li class = "navbar-item">
                                <a href = "/reviews.html" class = "navbar-link hover-underline">
                                <div class = "separator"></div>

                                <span class = "span"> Reviews </span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <a href = "/res.html" class = "btn btn-secondary">
                        <span class = "text text-1"> Book a Table </span>
                        <span class = "text text-2" aria-hidden = "true"> Book a Table </span>
                    </a>

                    <button class = "nav-open-btn" aria-label = "open menu" data-nav-toggler>
                        <span class = "line line-1"></span>
                        <span class = "line line-2"></span>
                        <span class = "line line-3"></span>
                    </button>

                    <div class = "overlay" data-nav-toggler data-overlay></div>
                </div>
            </header> -->

            <div class= "contact-us">            
                <div class = "contact-container">
                <div class = "contact-form">
                    <h1> Contact Us </h1>
                    <p> Reach out to us for any queries, table bookings, or special arrangements. We’re here to make your dining experience unforgettable! </p>
                    <form>
                        <input type = "email" placeholder = "Enter a valid email address" id = "email" required>
                        <input type = "text" placeholder = "Enter your Name" id = "name" required>
                        <input type = "tel" placeholder = "Enter your phone number" required>
                        <textarea placeholder = "Enter your message" id = "message" required></textarea>
                        <button type = "submit" onclick = "sendMail()"> Submit </button>
                    </form>
                </div>
                <div class = "contact-image">
                    <img src = "<%=images[1]%>" alt = "Contact Us Image">
                </div>
            </div>
        </div>
            <script src = "/js/contact.js" type = "text/javascript"></script>
        </body>
    </html>