*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ff4757;
    --secondary-color: #636e72;
    --font-color: #2d3436;
    --background-color: #f5f5f5;
    --input-border-color: #dfe6e9;
    --hover-color: #ff8698;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --primary-shadow-color: rgba(255, 71, 87, 0.3);
    --hover-shadow-color: rgba(255, 71, 87, 0.4);
}
