body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.input-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    display: flex;
    gap: 10px;
}

#from, #to {
    width: 250px;
    border: 2px solid #0077ff;
    border-radius: 8px;
    padding: 20px;
    font-size: 14px;
}

button {
    padding: 10px 15px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

button:hover {
    background-color: #032554;
}

.info {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-family: Arial, sans-serif;
}

.car {
    background-image: url("https://img.icons8.com/ios-filled/50/tesla-model-s.png");
    background-size: cover;
    width: 70px;
    height: 70px;
}